		@media (max-width: 480px){
		.navbar{
			width: 100%;
			height: 70px;
			overflow: visible;
			}
		.logo{
			width: 70px;
			height: 70px;
			margin-left: 10px;
			margin-top: -10px;
		}
		.navbar-nav{
			width: 50%;
			font-size: 15px;
			margin-top: 10px;
			margin-left: 100px;
  			margin-right: 10px;
			font-weight: bold;
			position: relative;
			display: block;
			z-index: -1000;
			background: #FFFFFF;
			box-shadow: 5px 5px 10px black;
			border-radius: 10px;
			overflow: visible;
		}
		.navbar-toggler{
			border: none;
			margin-right: 20px;
			margin-top: -10px;
			outline: hidden;
		}
		.navbar-toggler-logo{
			color: #000000;
			font-size: 18px;
		}
		.hero{
			width: 100%;
			height: 100vh;
			background-size: cover; 
			background-repeat: no-repeat;
			background-position-x: right;
			overflow-x: hidden;
		  }
		  .hero--text{
			color: #FFFFFF;
			margin-left: 20px;
			padding-top: 50%;
			font-family: serif, sans-serif;
			font-size: 20px;
			text-shadow: 2px 2px 4px #000000;
		}
		.hero--text span{
			font-size: 20px;
		}
		.hero--text--1{
			margin-left: 20px;
			letter-spacing: 5px;
			border: 0.1px solid white;
			width: 61%;
			font-size: 10px;
			padding-left: 9px;
		}
		.hero--text--2{
			margin-left: 20px;
			font-size: 10px;
			letter-spacing: 5px;
			padding-top: 0px;
		}
		.hero--text--2 span{
			font-size: 10px;
		}
		.btn-1{
			margin-left: 20px;
			font-size: 10px;
		}
		.border--img{
			display: none;
		}
		#Who-we-are{
			padding-bottom: 7%;
			overflow-x: hidden;
		}
		.brush--img{
			display: none;
		}
		.about--image{
			display: none;
		}
		.about--image--1{
			width: 100px;
			height: 100px;
			margin-top: 0px;
			opacity: 0.7;
		}
		.about--text{
			word-spacing: 0px;
			font-size: 20px;
			text-align: center;
		}
		.about--text span{
			font-size: 20px;
		}
		.about--text--1{
			color: #000000;
			margin-top: 20px;
			font-size: 10px;
		}
		.about--button{
			font-size: 10px;
			margin-top: 10px;
		}
		.border--img--1{
			display: none;
		}
		#blogs{
			overflow-x: hidden;
		}
		.blogs--text{
			padding-top: 7%;
			font-weight: bold;
			font-size: 20px;
		}
		.blogs--text--1{
			text-align: center;
			padding-top: 10px;
			font-size: 10px;
		}
		.container{
			background-position-x: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		#blogs .card{
			justify-content: center;
		}
		#blogs .img--1{
			height: 200px !important;
		}
		.card-title{
			font-size: 15px;
			letter-spacing: 0px;
		}
		.card-text{
			font-size: 10px;
		}
		#blogs .btn{
			font-size: 10px;
		}
		#about--us{
			width: 100%;
			overflow-x: hidden;
		}
		.border--img--2{
			display: none;
		}
		.about--us{
			margin-top: 10px;
		}
		.img-1{
			width: 200px;
			padding-left: 40px;
		}
		.img-2{
			width: 100px;
			margin-top: 30px;
			margin-left: -30px;
			border: 10px solid #f6f6f6;
		}
		.about--col--1{
			margin-left: 0px;
		}
		.about--us--text{
			margin-top: 70px;
			font-size: 20px;
			text-align: center;
		}
		.about--us--text--1{
			font-size: 10px;
			padding: 10px;
			text-align: justify;
		}
		.about--us--text--2{
			margin-top: 0px;
			padding-left: 10px;
			font-size: 15px;
		}
		.about-us--text--3{
			padding-left: 10px;
			font-size: 15px;
		}
		.btn-2{
			margin-top: 0px;
			margin-left: 10px;
			font-size: 10px;
		}
		#services{
			overflow-x: hidden;
			padding-bottom: 6%;
			background-color: #f6f6f6;
		}
		.services--row--1, .services--row--2{
			margin: 0px;
		}
		.services--text{
			font-size: 20px;
			margin-top: 50px;
		}
		.progress-text{
  			margin-top: -5px;
  			font-size: 10px;
		}
		.services--text--1{
			font-size: 10px;
		}
		#services .card{
			width: 100%;
			margin-top: 20px;
		}
		.card-title-1{
			font-size: 15px;
			letter-spacing: 2px;
			margin-top: 30px;
		}
		.card-text{
			font-size: 10px;
		}
		.Appointments{
			width: 100%;
			height: 0%;
			padding-top: 5%;
			padding-bottom: 2%;
			color: #000000;
			background-color: #f6f6f6;
		}
		.Appointment--text{
			font-size: 20px;
		}
		hr{
			display: none;
		}
		.border--img--3{
			display: none;
		}
		.Pricing{
			width: 100%;
			height: auto;
			overflow-x: hidden;
			background-color: #f6f6f6;
		}
		.Pricing--img--1{
			width: 250px;
			margin-top: -5%;
			padding-left: 40px;
		}
		.Pricing--row{
			text-align: center;
			padding-right: 0px;
		}
		.Pricing--text{
			font-size: 25px;
			text-shadow: 2px 2px 3px #000000;
			text-align: center;
			font-family: serif, sans-serif;
		}
		.Pricing--list--group{
			margin-left: -20px;
		}
		.Pricing--list{
			font-size: 15px;
			text-align: left;
			font-weight: bold;
			padding-right: 20px;
			padding-left: -20px;
		}
		.Pricing--text--1{
			text-align: justify;
			color: #808080;
			font-size: 10px;
		}
		.Pricing--list--group{
			margin-top: 30px;
			list-style-type: none;
		}
		.Pricing--Price{
			float: right;
		}
		#Contacts{
			background-color: #f6f6f6;
			overflow-x: hidden;
		}
		.contacts--row{
			padding-top: 12%;
			text-align: center;
			padding-left: 50px;
		}
		.contacts--text{
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			color: #000000;
			font-family: serif, sans-serif;
			text-shadow: 2px 2px 4px #000000;
		}
		.contacts--text--1{
			color: #808080;
			text-align: center;
			font-size: 10px;
		}
		.contacts--heading{
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			font-family: serif, sans-serif;	
		}
		address{
			color: #808080;
			text-align: center;
			padding-bottom: 30px;
			font-size: 10px;
		}
		#Contacts p{
			text-align: center;
			color: #808080;
			font-size: 10px;
		}
		.contacts--email--2{
			padding-bottom: 30px;
		}
		.border--img--4{
			display: none;
		}
		#Copyright{
			background-color: #FF8C00;
			overflow-x: hidden;
		}
		#Copyright p{
			color: #FFFFFF;
			text-align: right;
			font-size: 10px;
			margin-left: 40px;
		}
	}